
form{
	display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    align-items: center;
}

fieldset{
	padding: 40px 20px;
}

input {
	float: right;
}
