
#form-section{
	align-content: center;
}

fieldset{
	padding: 40px 20px;
	text-orientation: center;
	height: 600px;
	width: 50%;
}

form{
	display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    align-items: center;
}

